@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}
::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}


::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
  border: 3px solid #f1f1f1; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px; 
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1; 
}


.custom-scrollbar {
  overflow-y: auto;
  max-height: 100px;
}
